# -*- coding: utf-8 -*-
# vim: ft=yaml
openvas_manager:
  address: '127.0.0.1'
  port: 9390
  password: 'secret'

openvas_scanner:
  address: '127.0.0.1'
  port: 9391

greenbone:
  address: '127.0.0.1'
  port: 9392
