[Service]
ExecStart=
ExecStart=/usr/sbin/gsad --foreground --listen={{ greenbone.address }} --port={{ greenbone.port }} --mlisten={{ openvas_manager.address }} --mport={{ openvas_manager.port }}
