[Service]
ExecStart=
ExecStart=/usr/sbin/openvasmd --listen={{ manager_default.manager_address }} --port={{ manager_default.manager_port }} --database={{ manager_default.manager_database }}
