[Service]
ExecStart=
ExecStart=/usr/sbin/gsad --foreground --listen={{ openvas_gsa.address }} --port={{ openvas_gsa.port }} --mlisten={{ openvas_manager.address }} --mport={{ openvas_manager.port }}
