# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml "openvas/defaults.yaml" as default_settings %}

{% set openvas = salt['pillar.get'](
        'openvas',
        default=default_settings.openvas,
        merge=True
    )
%}

{% set openvas_manager = salt['pillar.get'](
        'openvas_manager',
        default=default_settings.openvas_manager,
        merge=True
    )
%}

{% set openvas_scanner = salt['pillar.get'](
        'openvas_scanner',
        default=default_settings.openvas_scanner,
        merge=True
    )
%}

{% set os_map = salt['grains.filter_by']({
        'Kali': {
            'pkg': 'greenbone-security-assistant',
            'service': 'greenbone-security-assistant'
        },
        'Ubuntu': {},
        'Debian': {},
    }
    , merge=salt['pillar.get']('greenbone:lookup'))
%}

{% do default_settings.greenbone.update(os_map) %}
{% set greenbone = salt['pillar.get'](
        'greenbone',
        default=default_settings.greenbone,
        merge=True
    )
%}
